:root {
  /* ================== */
  /* SISTEMA DE COLOR   */
  /* ================== */

  /* -- Colores Base -- */

  --clr-text: #343a40; /* Color de texto principal */
  --clr-background: #ffffff; /* Color de fondo principal */

  /* -- Colores de Acento/Marca -- */

  --clr-accent-bg: #5f3dc4; /* Fondo/borde del elemento destacado */
  --clr-accent-text: #e5dbff; /* Texto sobre el fondo destacado */

  /* Puedes añadir más si los necesitas, por ejemplo, para los 'hover' */
  --clr-accent-hover: #4e31a1;

  /* ===================== */
  /* SISTEMA DE TIPOGRAFÍA */
  /* ===================== */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inter", sans-serif;

  /* Escala Tipográfica (1.250 - Major Third) */
  --fs-900: 3.815rem; /* Corresponde a h1 */
  --fs-800: 3.052rem; /* Corresponde a h2 */
  --fs-700: 2.441rem; /* Corresponde a h3 */
  --fs-600: 1.953rem; /* Corresponde a h4 */
  --fs-500: 1.563rem; /* Corresponde a h5 */
  --fs-base: 1rem; /* Corresponde a p (párrafo) */
  --fs-small: 0.8rem; /* Corresponde a small */

  /* =================== */
  /* SISTEMA DE ESPACIADO */
  /* =================== */
  /* Basado en la unidad base de 1rem (16px) */
  --space-xxs: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 0.75rem; /* 12px */
  --space-md: 1rem; /* 16px - Base */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-xxl: 3rem; /* 48px */
  --space-3xl: 4rem; /* 64px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  /* border-bottom: 0.5rem solid var(--clr-accent-bg); */
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-xl);
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: var(--space-xxl);
  align-self: flex-start;
}

.contact-info a {
  margin-top: 7rem;
  color: var(--clr-accent-bg);
  background-color: transparent;
  border: 2px solid var(--clr-accent-bg);
  padding: var(--space-md);
  border-radius: 9999px;
  border-width: 3px;
  font-weight: 700;
  width: 150px;
  flex-shrink: 0;
  text-align: center;
}

.contact-info a:link,
.contact-info a:visited {
  text-transform: uppercase;
}

.contact-info a:hover,
.contact-info a:active {
  background-color: var(--clr-accent-hover);
  color: var(--clr-accent-text);
  box-shadow: 0px 3px 5px 1px var(--clr-accent-bg);
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: var(--fs-900);
  font-weight: 600;
  letter-spacing: -0.1rem;
  color: var(--clr-text);
}

.introduction-container h2 {
  display: flex;
  justify-content: center;
  margin-top: var(--space-md);
  font-size: var(--fs-800);
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--clr-text);
}

.what-i-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  gap: var(--space-xxl);
  background-color: #4e31a1;
  padding: var(--space-3xl);
  border-radius: var(--space-md);
}

.what-i-do-text {
  font-size: var(--fs-700);
  font-weight: 400;
  color: var(--clr-accent-text);
  max-width: 40ch;
}

.what-i-do-img {
  display: block;
  order: -1;
  border-radius: var(--space-md);
  object-fit: cover;
  height: 400px;
  width: 400px;
}

.project-img-1 {
  width: 400px;
  height: 400px;
  align-self: self-start;
}

.title-projects {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  color: var(--clr-text);
  border-bottom: var(--clr-accent-bg);
}

.title-projects h4 {
  font-size: var(--fs-800);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.projects-container {
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--clr-accent-bg);
  border-radius: var(--space-md);
  padding: var(--space-3xl);
  gap: 200px;
}

.project-img-1 {
  width: 400px;
  height: 400px;
  border-radius: var(--space-md);
}
