* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.introduction {
  margin-top: 30px;
}

.projects-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  background-color: aqua;
}

.projects p {
  margin-top: 30px;
  background-color: blue;
}
