* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.name {
  font-size: 50px;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.introduction {
  font-weight: normal;
  margin-top: 30px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.title-projects {
  /* Al estar dentro del grid, le decimos que ocupe todo el ancho */
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  text-transform: uppercase;
}

.project-card {
  /* Podríamos añadir sombras, bordes, etc. aquí. */
}

.project-name {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.project-img {
  width: 100%;
  display: block; /* Práctica estándar para imágenes */
}

.project-description {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  margin-top: 20px;
}
